In [1]:
import numpy as np
import pandas as pd
import re

In [10]:
#read in the csv file
hoteldf = pd.read_csv('HotelsManhOrl.csv',encoding = 'unicode_escape')
print(hoteldf.shape)
hoteldf.sample(5)

(884, 9)

,city,hotel_name,acc_type,price,hotel_star,no_of_ratings,rating,occupancy,lat_long
155,Orlando,"Ramada by Wyndham Davenport Orlando South, Dav...",HOTEL,$50,2.5-star,See all 530 Hotels.com reviews,5.6,"1 room, 3 adults","['28.231799', '-81.649583']"
305,Orlando,"Country Inn & Suites by Radisson, Orlando Airp...",HOTEL,$101,3-star,"See all 2,394 Hotels.com reviews",7.8,"1 room, 3 adults","['28.460062', '-81.313411']"
762,Manhattan,"Hotel Americano, New York",HOTEL,$209,4.5-star,See all 127 Hotels.com reviews,7.8,"1 room, 3 adults","['40.750616', '-74.003311']"
861,Manhattan,"Club Quarters Hotel, opposite Rockefeller Cent...",HOTEL,$151,4-star,"See all 1,651 Hotels.com reviews",8.2,"1 room, 3 adults","['40.75982', '-73.97835']"
736,Manhattan,"The Mansfield Hotel, New York",HOTEL,$98,3.5-star,See all 825 Hotels.com reviews,7,"1 room, 3 adults","['40.755184', '-73.980996']"

In [11]:
#verify the datatypes
hoteldf.dtypes

city             object
hotel_name       object
acc_type         object
price            object
hotel_star       object
no_of_ratings    object
rating           object
occupancy        object
lat_long         object
dtype: object

In [17]:
(hoteldf.isnull()).sum() # check nulls

city               0
hotel_name         0
acc_type           0
price            204
hotel_star        28
no_of_ratings    201
rating             4
occupancy          0
lat_long           0
dtype: int64

In [18]:
(hoteldf.isna()).sum() # check nulls # num of NA's are same as nulls

city               0
hotel_name         0
acc_type           0
price            204
hotel_star        28
no_of_ratings    201
rating             4
occupancy          0
lat_long           0
dtype: int64

In [25]:
hoteldf.price.isna()

hoteldf[hoteldf.price.isna() | hoteldf.no_of_ratings.isna()].shape

(260, 9)

In [27]:
hoteldf[hoteldf.hotel_star.isna() & hoteldf.price.notna()] # I wanted to keep if hoter star is na because unrated hotels wont have star
# but all the unrated ones have price = Nan so they get filtered anyways

Empty DataFrame
Columns: [city, hotel_name, acc_type, price, hotel_star, no_of_ratings, rating, occupancy, lat_long]
Index: []

In [28]:
hoteldf.dropna() #check

,city,hotel_name,acc_type,price,hotel_star,no_of_ratings,rating,occupancy,lat_long
0,Orlando,Sonesta ES Suites Orlando - International Driv...,HOTEL,$129,3.5-star,See all 859 Hotels.com reviews,8.8,"1 room, 3 adults","['28.441941', '-81.47115']"
1,Orlando,"CoCo Key Hotel and Water Resort-Orlando, Orlando",HOTEL,$65,3-star,"See all 1,845 Hotels.com reviews",6.4,"1 room, 3 adults","['28.45468', '-81.470854']"
2,Orlando,"The Grand Orlando Resort at Celebration, Kissi...",HOTEL,$62,3.5-star,"See all 2,946 Hotels.com reviews",6.8,"1 room, 3 adults","['28.33647', '-81.534655']"
3,Orlando,Holiday Inn & Suites Across From Universal Orl...,HOTEL,$79,3-star,See all 873 Hotels.com reviews,7.8,"1 room, 3 adults","['28.477329', '-81.457288']"
4,Orlando,Howard Johnson by Wyndham Tropical Palms Kissi...,HOTEL,$30,2-star,"See all 1,423 Hotels.com reviews",5.8,"1 room, 3 adults","['28.304833', '-81.455483']"
5,Orlando,"Baymont by Wyndham Kissimmee, Kissimmee",HOTEL,$59,2.5-star,See all 433 Hotels.com reviews,6,"1 room, 3 adults","['28.303313', '-81.44829']"
6,Orlando,"Holiday Inn Orlando International Airport, Orl...",HOTEL,$88,3-star,See all 412 Hotels.com reviews,7.2,"1 room, 3 adults","['28.46027', '-81.309057']"
7,Orlando,"Clarion Inn Lake Buena Vista, a Rosen Hotel, O...",HOTEL,$150,3-star,"See all 1,417 Hotels.com reviews",8,"1 room, 3 adults","['28.387403', '-81.499148']"
8,Orlando,Days Inn & Suites by Wyndham Altamonte Springs...,HOTEL,$71,2-star,See all 523 Hotels.com reviews,5.2,"1 room, 3 adults","['28.660884', '-81.393403']"
9,Orlando,Delta Hotels by Marriott Orlando Lake Buena Vi...,HOTEL,$79,4-star,See all 815 Hotels.com reviews,8.6,"1 room, 3 adults","['28.38414', '-81.505944']"
10,Orlando,"Hyatt Regency Orlando International Airport, O...",HOTEL,$199,4-star,"See all 1,763 Hotels.com reviews",9,"1 room, 3 adults","['28.431373', '-81.305213']"
11,Orlando,"Seralago Hotel & Suites Main Gate East, Kissimmee",HOTEL,$55,3-star,"See all 3,195 Hotels.com reviews",6.2,"1 room, 3 adults","['28.332726', '-81.511951']"
12,Orlando,"Best Western Orlando East Inn & Suites, Orlando",HOTEL,$89,2.5-star,See all 563 Hotels.com reviews,7.4,"1 room, 3 adults","['28.568406', '-81.264167']"
13,Orlando,"Bryan's Spanish Cove by Diamond Resorts, Orlando",HOTEL,$148,3-star,See all 336 Hotels.com reviews,9,"1 room, 3 adults","['28.362681', '-81.501165']"
14,Orlando,"Renaissance Orlando Airport Hotel by Marriott,...",HOTEL,$118,4-star,See all 468 Hotels.com reviews,8.6,"1 room, 3 adults","['28.460379', '-81.31317']"
15,Orlando,"The Villas of Grand Cypress, Orlando",HOTEL,$223,4.5-star,See all 241 Hotels.com reviews,9.6,"1 room, 3 adults","['28.405897', '-81.528661']"
16,Orlando,"Days Inn by Wyndham N Orlando/Casselberry, Fer...",HOTEL,$85,2-star,See all 190 Hotels.com reviews,5.2,"1 room, 3 adults","['28.650083', '-81.350144']"
17,Orlando,"Avanti International Resort, Orlando",HOTEL,$74,3-star,"See all 3,905 Hotels.com reviews",7.6,"1 room, 3 adults","['28.439032', '-81.47157']"
18,Orlando,"Flamingo Waterpark Resort, Kissimmee",HOTEL,$41,3-star,From 512 reviews\nTripAdvisor Traveller Rating,6.6,"1 room, 3 adults","['28.28522', '-81.352644']"
19,Orlando,"Buena Vista Suites, Orlando",HOTEL,$88,3.5-star,"See all 2,222 Hotels.com reviews",8,"1 room, 3 adults","['28.357377', '-81.494643']"
20,Orlando,"Avanti Palms Resort and Conference Center, Orl...",HOTEL,$80,3.5-star,"See all 1,953 Hotels.com reviews",6.6,"1 room, 3 adults","['28.458296', '-81.47017']"
22,Orlando,Four Points by Sheraton Orlando International ...,HOTEL,$101,3.5-star,See all 627 Hotels.com reviews,8,"1 room, 3 adults","['28.462304', '-81.461441']"
23,Orlando,"Legacy Vacation Resorts-Orlando, Kissimmee",HOTEL,$66,3-star,"See all 1,487 Hotels.com reviews",7.4,"1 room, 3 adults","['28.329881', '-81.489634']"
24,Orlando,"Courtyard by Marriott Orlando Airport, Orlando",HOTEL,$74,3-star,See all 316 Hotels.com reviews,8.4,"1 room, 3 adults","['28.459671', '-81.312231']"
25,Orlando,"Disney's Port Orleans Resort - Riverside, Lake...",HOTEL,$215,3.5-star,See all 640 Hotels.com reviews,8.6,"1 room, 3 adults","['28.385062', '-81.536421']"
26,Orlando,"Marriott Orlando Downtown, Orlando",HOTEL,$130,3.5-star,See all 350 Hotels.com reviews,8,"1 room, 3 adults","['28.547271', '-81.384604']"
27,Orlando,DoubleTree by Hilton at the Entrance to Univer...,HOTEL,$98,4-star,"See all 2,017 Hotels.com reviews",8.4,"1 room, 3 adults","['28.477995', '-81.457445']"
29,Orlando,"Sulaf Hotel LBV South, Kissimmee",HOTEL,$45,2.5-star,From 374 reviews\nTripAdvisor Traveller Rating,5.2,"1 room, 3 adults","['28.33465', '-81.48153']"
30,Orlando,Hampton Inn Orlando Near Universal Blv/Interna...,HOTEL,$89,2.5-star,See all 472 Hotels.com reviews,8.6,"1 room, 3 adults","['28.459562', '-81.458814']"
31,Orlando,Holiday Inn Club Vacations at Orange Lake Reso...,HOTEL,$129,4-star,"See all 1,239 Hotels.com reviews",8.4,"1 room, 3 adults","['28.347126', '-81.623788']"
...,...,...,...,...,...,...,...,...,...
823,Manhattan,"Sheraton New York Times Square Hotel, New York",HOTEL,$169,4-star,"See all 2,553 Hotels.com reviews",7.8,"1 room, 3 adults","['40.76264', '-73.98213']"
824,Manhattan,"Macy Empire Apartments, New York",HOTEL,$210,3.5-star,See all 59 Hotels.com reviews,6,"1 room, 3 adults","['40.747044', '-73.987159']"
826,Manhattan,"Colonial House Inn, New York",HOTEL,$177,3-star,See all 72 Hotels.com reviews,7.6,"1 room, 3 adults","['40.745034', '-73.999937']"
829,Manhattan,"255West Guesthouse, New York",HOTEL,$195,3.5-star,See all 74 Hotels.com reviews,9,"1 room, 3 adults","['40.8141', '-73.946807']"
831,Manhattan,Hilton Garden Inn New York/Central Park South-...,HOTEL,$109,3.5-star,"See all 1,385 Hotels.com reviews",8.6,"1 room, 3 adults","['40.764324', '-73.98316']"
835,Manhattan,"Four Points by Sheraton Manhattan - Chelsea, N...",HOTEL,$99,3-star,See all 521 Hotels.com reviews,8.4,"1 room, 3 adults","['40.745099', '-73.994116']"
836,Manhattan,"The Gallivant Times Square , New York",HOTEL,$109,3.5-star,"See all 1,382 Hotels.com reviews",7.4,"1 room, 3 adults","['40.760691', '-73.98622']"
839,Manhattan,"3 West Club, New York",HOTEL,$159,3.5-star,See all 233 Hotels.com reviews,8.2,"1 room, 3 adults","['40.759666', '-73.977292']"
840,Manhattan,"Conrad New York, New York",HOTEL,$297,5-star,See all 775 Hotels.com reviews,9.6,"1 room, 3 adults","['40.715053', '-74.016008']"
841,Manhattan,"Crowne Plaza Times Square Manhattan, New York",HOTEL,$105,4-star,"See all 3,824 Hotels.com reviews",8.4,"1 room, 3 adults","['40.76025', '-73.98478']"
842,Manhattan,"Bowery Grand Hotel, New York",HOTEL,$77,1-star,See all 265 Hotels.com reviews,4.4,"1 room, 3 adults","['40.719014', '-73.994535']"
843,Manhattan,"Blakely New York, New York",HOTEL,$225,4.5-star,See all 718 Hotels.com reviews,8.8,"1 room, 3 adults","['40.763655', '-73.979649']"
845,Manhattan,"Pod 51, New York",HOTEL,$129,3-star,"See all 3,427 Hotels.com reviews",8,"1 room, 3 adults","['40.755889', '-73.968987']"
847,Manhattan,"Park West Hotel, New York",HOTEL,$90,3-star,See all 412 Hotels.com reviews,6.4,"1 room, 3 adults","['40.79974', '-73.95889']"
848,Manhattan,"The Standard East Village, New York",HOTEL,$195,4-star,See all 368 Hotels.com reviews,8.8,"1 room, 3 adults","['40.727844', '-73.991075']"
849,Manhattan,"Casamia 36 Hotel, New York",HOTEL,$146,3-star,See all 361 Hotels.com reviews,7.4,"1 room, 3 adults","['40.755642', '-73.997647']"
852,Manhattan,"The Frederick Hotel, New York",HOTEL,$127,4-star,See all 497 Hotels.com reviews,8.6,"1 room, 3 adults","['40.715505', '-74.009255']"
856,Manhattan,"Hotel Indigo Lower East Side New York, New York",HOTEL,$178,4.5-star,See all 771 Hotels.com reviews,8.8,"1 room, 3 adults","['40.721736', '-73.987497']"
857,Manhattan,"Hotel 32 32, New York",HOTEL,$124,4-star,"See all 1,330 Hotels.com reviews",8,"1 room, 3 adults","['40.746207', '-73.983351']"
858,Manhattan,"Hudson River Hotel, New York",HOTEL,$109,2.5-star,See all 315 Hotels.com reviews,7.4,"1 room, 3 adults","['40.755483', '-73.99733']"
861,Manhattan,"Club Quarters Hotel, opposite Rockefeller Cent...",HOTEL,$151,4-star,"See all 1,651 Hotels.com reviews",8.2,"1 room, 3 adults","['40.75982', '-73.97835']"
862,Manhattan,"Clarion Hotel Park Avenue, New York",HOTEL,$199,2.5-star,See all 69 Hotels.com reviews,7.4,"1 room, 3 adults","['40.74417', '-73.98338']"
863,Manhattan,"Night Hotel Theater District, Times Square, Ne...",HOTEL,$129,4-star,See all 558 Hotels.com reviews,7.6,"1 room, 3 adults","['40.757349', '-73.984069']"
866,Manhattan,"The Gregory Hotel, New York",HOTEL,$135,4-star,"See all 1,009 Hotels.com reviews",8,"1 room, 3 adults","['40.749875', '-73.985966']"
867,Manhattan,"414 Hotel, New York",HOTEL,$296,3.5-star,See all 90 Hotels.com reviews,9.6,"1 room, 3 adults","['40.76117', '-73.99117']"
868,Manhattan,"Soho Grand Hotel, New York",HOTEL,$199,4.5-star,See all 759 Hotels.com reviews,8.8,"1 room, 3 adults","['40.721886', '-74.004201']"
871,Manhattan,"Hilton Garden Inn New York/Manhattan-Chelsea, ...",HOTEL,$157,3.5-star,See all 968 Hotels.com reviews,8.6,"1 room, 3 adults","['40.746478', '-73.991579']"
872,Manhattan,"Washington Square Hotel, New York",HOTEL,$308,3.5-star,See all 333 Hotels.com reviews,8.8,"1 room, 3 adults","['40.73226', '-73.99867']"
876,Manhattan,"The Marmara Manhattan, New York",HOTEL,$286,3.5-star,See all 335 Hotels.com reviews,8.4,"1 room, 3 adults","['40.782847', '-73.947762']"
881,Manhattan,"The Inn at Irving Place, New York",HOTEL,$295,4-star,See all 111 Hotels.com reviews,9,"1 room, 3 adults","['40.736064', '-73.987251']"

In [29]:
hotelalldf = hoteldf.dropna()
print(hotelalldf.shape)
hotelalldf.sample(5)

(624, 9)

,city,hotel_name,acc_type,price,hotel_star,no_of_ratings,rating,occupancy,lat_long
469,Manhattan,"Soho Garden Hotel, New York",HOTEL,$199,2.5-star,See all 556 Hotels.com reviews,7.8,"1 room, 3 adults","['40.719179', '-74.001653']"
113,Orlando,"Ramada by Wyndham Altamonte Springs, Altamonte...",HOTEL,$79,2.5-star,See all 437 Hotels.com reviews,6.2,"1 room, 3 adults","['28.663729', '-81.390367']"
441,Manhattan,"The Chatwal, a Luxury Collection Hotel, New Yo...",HOTEL,$525,5-star,See all 127 Hotels.com reviews,9.2,"1 room, 3 adults","['40.7565', '-73.98458']"
205,Orlando,"Star Island Resort and Club, Kissimmee",HOTEL,$93,3.5-star,"From 3,419 reviews\nTripAdvisor Traveller Rating",8.4,"1 room, 3 adults","['28.329774', '-81.484794']"
484,Manhattan,"Windsor Hotel, New York",HOTEL,$136,2-star,See all 289 Hotels.com reviews,5.4,"1 room, 3 adults","['40.71873', '-73.99269']"

In [30]:
hotelalldf.isna().sum().sum() # cross check num of Nans

0

In [33]:
#cleaning price, remove $ to use it as number
def remove_special_chars(val):
    new_val = re.findall('[0-9]',val)
    return "".join(new_val)

hotelalldf.price = hotelalldf.price.apply(remove_special_chars)
hotelalldf.head(5)

,city,hotel_name,acc_type,price,hotel_star,no_of_ratings,rating,occupancy,lat_long
0,Orlando,Sonesta ES Suites Orlando - International Driv...,HOTEL,129,3.5-star,See all 859 Hotels.com reviews,8.8,"1 room, 3 adults","['28.441941', '-81.47115']"
1,Orlando,"CoCo Key Hotel and Water Resort-Orlando, Orlando",HOTEL,65,3-star,"See all 1,845 Hotels.com reviews",6.4,"1 room, 3 adults","['28.45468', '-81.470854']"
2,Orlando,"The Grand Orlando Resort at Celebration, Kissi...",HOTEL,62,3.5-star,"See all 2,946 Hotels.com reviews",6.8,"1 room, 3 adults","['28.33647', '-81.534655']"
3,Orlando,Holiday Inn & Suites Across From Universal Orl...,HOTEL,79,3-star,See all 873 Hotels.com reviews,7.8,"1 room, 3 adults","['28.477329', '-81.457288']"
4,Orlando,Howard Johnson by Wyndham Tropical Palms Kissi...,HOTEL,30,2-star,"See all 1,423 Hotels.com reviews",5.8,"1 room, 3 adults","['28.304833', '-81.455483']"

In [34]:
#cleaning hotel star ,grab just numbers with decimal
def remove_chars(val):
    new_val = re.findall('[0-9.]+',val)
    return "".join(new_val)

hotelalldf.hotel_star = hotelalldf.hotel_star.apply(remove_chars)
hotelalldf.head(5)

,city,hotel_name,acc_type,price,hotel_star,no_of_ratings,rating,occupancy,lat_long
0,Orlando,Sonesta ES Suites Orlando - International Driv...,HOTEL,129,3.5,See all 859 Hotels.com reviews,8.8,"1 room, 3 adults","['28.441941', '-81.47115']"
1,Orlando,"CoCo Key Hotel and Water Resort-Orlando, Orlando",HOTEL,65,3,"See all 1,845 Hotels.com reviews",6.4,"1 room, 3 adults","['28.45468', '-81.470854']"
2,Orlando,"The Grand Orlando Resort at Celebration, Kissi...",HOTEL,62,3.5,"See all 2,946 Hotels.com reviews",6.8,"1 room, 3 adults","['28.33647', '-81.534655']"
3,Orlando,Holiday Inn & Suites Across From Universal Orl...,HOTEL,79,3,See all 873 Hotels.com reviews,7.8,"1 room, 3 adults","['28.477329', '-81.457288']"
4,Orlando,Howard Johnson by Wyndham Tropical Palms Kissi...,HOTEL,30,2,"See all 1,423 Hotels.com reviews",5.8,"1 room, 3 adults","['28.304833', '-81.455483']"

In [37]:
# grab numbers for num of ratings
hotelalldf.no_of_ratings = hotelalldf.no_of_ratings.apply(remove_special_chars)
hotelalldf.head(5)

,city,hotel_name,acc_type,price,hotel_star,no_of_ratings,rating,occupancy,lat_long
0,Orlando,Sonesta ES Suites Orlando - International Driv...,HOTEL,129,3.5,859,8.8,"1 room, 3 adults","['28.441941', '-81.47115']"
1,Orlando,"CoCo Key Hotel and Water Resort-Orlando, Orlando",HOTEL,65,3,1845,6.4,"1 room, 3 adults","['28.45468', '-81.470854']"
2,Orlando,"The Grand Orlando Resort at Celebration, Kissi...",HOTEL,62,3.5,2946,6.8,"1 room, 3 adults","['28.33647', '-81.534655']"
3,Orlando,Holiday Inn & Suites Across From Universal Orl...,HOTEL,79,3,873,7.8,"1 room, 3 adults","['28.477329', '-81.457288']"
4,Orlando,Howard Johnson by Wyndham Tropical Palms Kissi...,HOTEL,30,2,1423,5.8,"1 room, 3 adults","['28.304833', '-81.455483']"

In [53]:
hotelalldf = hotelalldf.assign(rating = hotelalldf.rating.astype(float))
hotelalldf.head(3)

,city,hotel_name,acc_type,price,hotel_star,no_of_ratings,rating,occupancy,lat_long
0,Orlando,Sonesta ES Suites Orlando - International Driv...,HOTEL,129,3.5,859,4.4,"1 room, 3 adults","['28.441941', '-81.47115']"
1,Orlando,"CoCo Key Hotel and Water Resort-Orlando, Orlando",HOTEL,65,3,1845,3.2,"1 room, 3 adults","['28.45468', '-81.470854']"
2,Orlando,"The Grand Orlando Resort at Celebration, Kissi...",HOTEL,62,3.5,2946,3.4,"1 room, 3 adults","['28.33647', '-81.534655']"

In [54]:
hotelalldf.dtypes

city              object
hotel_name        object
acc_type          object
price             object
hotel_star        object
no_of_ratings     object
rating           float64
occupancy         object
lat_long          object
dtype: object

In [49]:
#Divide the hotel rating by 2, to have both airbnb and hotel ranked on a scale of 5
# must be run only once
hotelalldf = hotelalldf.assign(rating = hotelalldf.rating.div(2))
hotelalldf.head(3)

,city,hotel_name,acc_type,price,hotel_star,no_of_ratings,rating,occupancy,lat_long
0,Orlando,Sonesta ES Suites Orlando - International Driv...,HOTEL,129,3.5,859,4.4,"1 room, 3 adults","['28.441941', '-81.47115']"
1,Orlando,"CoCo Key Hotel and Water Resort-Orlando, Orlando",HOTEL,65,3,1845,3.2,"1 room, 3 adults","['28.45468', '-81.470854']"
2,Orlando,"The Grand Orlando Resort at Celebration, Kissi...",HOTEL,62,3.5,2946,3.4,"1 room, 3 adults","['28.33647', '-81.534655']"

In [58]:
def split_to_list(str_val):
    return str_val.split(",")
   
hotelalldf = hotelalldf.assign(occupancy_lst = hotelalldf.occupancy.apply(split_to_list))

In [59]:
hotelalldf.head(5)

,city,hotel_name,acc_type,price,hotel_star,no_of_ratings,rating,occupancy,lat_long,occupancy_lst
0,Orlando,Sonesta ES Suites Orlando - International Driv...,HOTEL,129,3.5,859,4.4,"1 room, 3 adults","['28.441941', '-81.47115']","[1 room, 3 adults]"
1,Orlando,"CoCo Key Hotel and Water Resort-Orlando, Orlando",HOTEL,65,3,1845,3.2,"1 room, 3 adults","['28.45468', '-81.470854']","[1 room, 3 adults]"
2,Orlando,"The Grand Orlando Resort at Celebration, Kissi...",HOTEL,62,3.5,2946,3.4,"1 room, 3 adults","['28.33647', '-81.534655']","[1 room, 3 adults]"
3,Orlando,Holiday Inn & Suites Across From Universal Orl...,HOTEL,79,3,873,3.9,"1 room, 3 adults","['28.477329', '-81.457288']","[1 room, 3 adults]"
4,Orlando,Howard Johnson by Wyndham Tropical Palms Kissi...,HOTEL,30,2,1423,2.9,"1 room, 3 adults","['28.304833', '-81.455483']","[1 room, 3 adults]"

In [78]:
# just initailzing new cols, assigned values are just place holders
hotelalldf = hotelalldf.assign(no_of_rooms = 1, no_of_guests =  3)
hotelalldf.sample(2)

,city,hotel_name,acc_type,price,hotel_star,no_of_ratings,rating,occupancy,lat_long,occupancy_lst,no_of_rooms,no_of_guests
288,Orlando,Westgate Lakes Resort & Spa Universal Studios ...,HOTEL,119,4,2436,3.9,"1 room, 3 adults","['28.428934', '-81.47504']","[1 room, 3 adults]",1,3
120,Orlando,"Knights Inn Maingate Kissimmee Orlando, Kissimmee",HOTEL,40,2,649,2.3,"1 room, 3 adults","['28.332808', '-81.586561']","[1 room, 3 adults]",1,3

In [101]:
#convert no_of_reviews to int
hotelalldf.price=hotelalldf.price.astype(int)

In [102]:
#convert hotel_star to float
hotelalldf.hotel_star=hotelalldf.hotel_star.astype(float)

In [108]:
#convert no_of_ratings to int
hotelalldf.no_of_ratings=hotelalldf.no_of_ratings.astype(float)

In [121]:
#convert no_of_rooms to float
hotelalldf.no_of_rooms=hotelalldf.no_of_rooms.astype(np.int32)

In [123]:
#convert no_of_guests to float
hotelalldf.no_of_guests=hotelalldf.no_of_guests.astype(np.int32)

In [124]:
hotelalldf.dtypes

city              object
hotel_name        object
acc_type          object
price              int32
hotel_star       float64
no_of_ratings    float64
rating           float64
occupancy         object
lat_long          object
occupancy_lst     object
no_of_rooms        int32
no_of_guests       int32
latLong           object
lat               object
long              object
dtype: object

In [125]:
hotelalldf[hotelalldf.no_of_rooms.isna()]

Empty DataFrame
Columns: [city, hotel_name, acc_type, price, hotel_star, no_of_ratings, rating, occupancy, lat_long, occupancy_lst, no_of_rooms, no_of_guests, latLong, lat, long]
Index: []

In [126]:
hotelalldf[hotelalldf.no_of_guests.isna()]

Empty DataFrame
Columns: [city, hotel_name, acc_type, price, hotel_star, no_of_ratings, rating, occupancy, lat_long, occupancy_lst, no_of_rooms, no_of_guests, latLong, lat, long]
Index: []

In [127]:
hoteldfclean = hotelalldf[['city','hotel_name','acc_type','price','hotel_star','no_of_ratings','rating','occupancy', 'no_of_rooms','no_of_guests']]

In [128]:
hoteldfclean

,city,hotel_name,acc_type,price,hotel_star,no_of_ratings,rating,occupancy,no_of_rooms,no_of_guests
0,Orlando,Sonesta ES Suites Orlando - International Driv...,HOTEL,129,3.5,859.0,4.4,"1 room, 3 adults",1,3
1,Orlando,"CoCo Key Hotel and Water Resort-Orlando, Orlando",HOTEL,65,3.0,1845.0,3.2,"1 room, 3 adults",1,3
2,Orlando,"The Grand Orlando Resort at Celebration, Kissi...",HOTEL,62,3.5,2946.0,3.4,"1 room, 3 adults",1,3
3,Orlando,Holiday Inn & Suites Across From Universal Orl...,HOTEL,79,3.0,873.0,3.9,"1 room, 3 adults",1,3
4,Orlando,Howard Johnson by Wyndham Tropical Palms Kissi...,HOTEL,30,2.0,1423.0,2.9,"1 room, 3 adults",1,3
5,Orlando,"Baymont by Wyndham Kissimmee, Kissimmee",HOTEL,59,2.5,433.0,3.0,"1 room, 3 adults",1,3
6,Orlando,"Holiday Inn Orlando International Airport, Orl...",HOTEL,88,3.0,412.0,3.6,"1 room, 3 adults",1,3
7,Orlando,"Clarion Inn Lake Buena Vista, a Rosen Hotel, O...",HOTEL,150,3.0,1417.0,4.0,"1 room, 3 adults",1,3
8,Orlando,Days Inn & Suites by Wyndham Altamonte Springs...,HOTEL,71,2.0,523.0,2.6,"1 room, 3 adults",1,3
9,Orlando,Delta Hotels by Marriott Orlando Lake Buena Vi...,HOTEL,79,4.0,815.0,4.3,"1 room, 3 adults",1,3
10,Orlando,"Hyatt Regency Orlando International Airport, O...",HOTEL,199,4.0,1763.0,4.5,"1 room, 3 adults",1,3
11,Orlando,"Seralago Hotel & Suites Main Gate East, Kissimmee",HOTEL,55,3.0,3195.0,3.1,"1 room, 3 adults",1,3
12,Orlando,"Best Western Orlando East Inn & Suites, Orlando",HOTEL,89,2.5,563.0,3.7,"1 room, 3 adults",1,3
13,Orlando,"Bryan's Spanish Cove by Diamond Resorts, Orlando",HOTEL,148,3.0,336.0,4.5,"1 room, 3 adults",1,3
14,Orlando,"Renaissance Orlando Airport Hotel by Marriott,...",HOTEL,118,4.0,468.0,4.3,"1 room, 3 adults",1,3
15,Orlando,"The Villas of Grand Cypress, Orlando",HOTEL,223,4.5,241.0,4.8,"1 room, 3 adults",1,3
16,Orlando,"Days Inn by Wyndham N Orlando/Casselberry, Fer...",HOTEL,85,2.0,190.0,2.6,"1 room, 3 adults",1,3
17,Orlando,"Avanti International Resort, Orlando",HOTEL,74,3.0,3905.0,3.8,"1 room, 3 adults",1,3
18,Orlando,"Flamingo Waterpark Resort, Kissimmee",HOTEL,41,3.0,512.0,3.3,"1 room, 3 adults",1,3
19,Orlando,"Buena Vista Suites, Orlando",HOTEL,88,3.5,2222.0,4.0,"1 room, 3 adults",1,3
20,Orlando,"Avanti Palms Resort and Conference Center, Orl...",HOTEL,80,3.5,1953.0,3.3,"1 room, 3 adults",1,3
22,Orlando,Four Points by Sheraton Orlando International ...,HOTEL,101,3.5,627.0,4.0,"1 room, 3 adults",1,3
23,Orlando,"Legacy Vacation Resorts-Orlando, Kissimmee",HOTEL,66,3.0,1487.0,3.7,"1 room, 3 adults",1,3
24,Orlando,"Courtyard by Marriott Orlando Airport, Orlando",HOTEL,74,3.0,316.0,4.2,"1 room, 3 adults",1,3
25,Orlando,"Disney's Port Orleans Resort - Riverside, Lake...",HOTEL,215,3.5,640.0,4.3,"1 room, 3 adults",1,3
26,Orlando,"Marriott Orlando Downtown, Orlando",HOTEL,130,3.5,350.0,4.0,"1 room, 3 adults",1,3
27,Orlando,DoubleTree by Hilton at the Entrance to Univer...,HOTEL,98,4.0,2017.0,4.2,"1 room, 3 adults",1,3
29,Orlando,"Sulaf Hotel LBV South, Kissimmee",HOTEL,45,2.5,374.0,2.6,"1 room, 3 adults",1,3
30,Orlando,Hampton Inn Orlando Near Universal Blv/Interna...,HOTEL,89,2.5,472.0,4.3,"1 room, 3 adults",1,3
31,Orlando,Holiday Inn Club Vacations at Orange Lake Reso...,HOTEL,129,4.0,1239.0,4.2,"1 room, 3 adults",1,3
...,...,...,...,...,...,...,...,...,...,...
823,Manhattan,"Sheraton New York Times Square Hotel, New York",HOTEL,169,4.0,2553.0,3.9,"1 room, 3 adults",1,3
824,Manhattan,"Macy Empire Apartments, New York",HOTEL,210,3.5,59.0,3.0,"1 room, 3 adults",1,3
826,Manhattan,"Colonial House Inn, New York",HOTEL,177,3.0,72.0,3.8,"1 room, 3 adults",1,3
829,Manhattan,"255West Guesthouse, New York",HOTEL,195,3.5,74.0,4.5,"1 room, 3 adults",1,3
831,Manhattan,Hilton Garden Inn New York/Central Park South-...,HOTEL,109,3.5,1385.0,4.3,"1 room, 3 adults",1,3
835,Manhattan,"Four Points by Sheraton Manhattan - Chelsea, N...",HOTEL,99,3.0,521.0,4.2,"1 room, 3 adults",1,3
836,Manhattan,"The Gallivant Times Square , New York",HOTEL,109,3.5,1382.0,3.7,"1 room, 3 adults",1,3
839,Manhattan,"3 West Club, New York",HOTEL,159,3.5,233.0,4.1,"1 room, 3 adults",1,3
840,Manhattan,"Conrad New York, New York",HOTEL,297,5.0,775.0,4.8,"1 room, 3 adults",1,3
841,Manhattan,"Crowne Plaza Times Square Manhattan, New York",HOTEL,105,4.0,3824.0,4.2,"1 room, 3 adults",1,3
842,Manhattan,"Bowery Grand Hotel, New York",HOTEL,77,1.0,265.0,2.2,"1 room, 3 adults",1,3
843,Manhattan,"Blakely New York, New York",HOTEL,225,4.5,718.0,4.4,"1 room, 3 adults",1,3
845,Manhattan,"Pod 51, New York",HOTEL,129,3.0,3427.0,4.0,"1 room, 3 adults",1,3
847,Manhattan,"Park West Hotel, New York",HOTEL,90,3.0,412.0,3.2,"1 room, 3 adults",1,3
848,Manhattan,"The Standard East Village, New York",HOTEL,195,4.0,368.0,4.4,"1 room, 3 adults",1,3
849,Manhattan,"Casamia 36 Hotel, New York",HOTEL,146,3.0,361.0,3.7,"1 room, 3 adults",1,3
852,Manhattan,"The Frederick Hotel, New York",HOTEL,127,4.0,497.0,4.3,"1 room, 3 adults",1,3
856,Manhattan,"Hotel Indigo Lower East Side New York, New York",HOTEL,178,4.5,771.0,4.4,"1 room, 3 adults",1,3
857,Manhattan,"Hotel 32 32, New York",HOTEL,124,4.0,1330.0,4.0,"1 room, 3 adults",1,3
858,Manhattan,"Hudson River Hotel, New York",HOTEL,109,2.5,315.0,3.7,"1 room, 3 adults",1,3
861,Manhattan,"Club Quarters Hotel, opposite Rockefeller Cent...",HOTEL,151,4.0,1651.0,4.1,"1 room, 3 adults",1,3
862,Manhattan,"Clarion Hotel Park Avenue, New York",HOTEL,199,2.5,69.0,3.7,"1 room, 3 adults",1,3
863,Manhattan,"Night Hotel Theater District, Times Square, Ne...",HOTEL,129,4.0,558.0,3.8,"1 room, 3 adults",1,3
866,Manhattan,"The Gregory Hotel, New York",HOTEL,135,4.0,1009.0,4.0,"1 room, 3 adults",1,3
867,Manhattan,"414 Hotel, New York",HOTEL,296,3.5,90.0,4.8,"1 room, 3 adults",1,3
868,Manhattan,"Soho Grand Hotel, New York",HOTEL,199,4.5,759.0,4.4,"1 room, 3 adults",1,3
871,Manhattan,"Hilton Garden Inn New York/Manhattan-Chelsea, ...",HOTEL,157,3.5,968.0,4.3,"1 room, 3 adults",1,3
872,Manhattan,"Washington Square Hotel, New York",HOTEL,308,3.5,333.0,4.4,"1 room, 3 adults",1,3
876,Manhattan,"The Marmara Manhattan, New York",HOTEL,286,3.5,335.0,4.2,"1 room, 3 adults",1,3
881,Manhattan,"The Inn at Irving Place, New York",HOTEL,295,4.0,111.0,4.5,"1 room, 3 adults",1,3

In [129]:
hoteldfclean.corr() # no_of_room and no_of_guests don't contribute to corr because all rows have same value

,price,hotel_star,no_of_ratings,rating,no_of_rooms,no_of_guests
price,1.000000,0.585955,-0.146935,0.411829,NaN,NaN
hotel_star,0.585955,1.000000,0.102518,0.598980,NaN,NaN
no_of_ratings,-0.146935,0.102518,1.000000,-0.094030,NaN,NaN
rating,0.411829,0.598980,-0.094030,1.000000,NaN,NaN
no_of_rooms,NaN,NaN,NaN,NaN,NaN,NaN
no_of_guests,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
# write the cleaned and massaged data to csv for future analysis

hoteldfclean.to_csv('hoteldfclean.csv')